<ion-content [fullscreen]="true">

  <div id="container">
    <h1><b>Login</b></h1>
    <ion-item fill="outline">
      <ion-label position="floating" color="success"><b>Username</b></ion-label>
      <ion-input [(ngModel)]="form.username" [ngModelOptions]="{standalone: true}" placeholder="Enter Username" color="dark"></ion-input>
    </ion-item>
    <br>
    <ion-item fill="outline">
      <ion-label position="floating" type="password" color="success"><b>Password</b></ion-label>
      <ion-input [(ngModel)]="form.password" [ngModelOptions]="{standalone: true}" placeholder="Enter password" type="password" color="dark"></ion-input>
    </ion-item>
    <br>
    <ion-button (click)="doLogin()" shape="round" color="success"><b>Login</b></ion-button>
  </div>
</ion-content>
